@font-face {
  font-family: "Noto Sans";
  font-weight: 400 500 700;
  src: url("../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400 500 700;
  font-style: italic;
  src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
}

p {
  font-size: 16px;
  color: var(--Neutral800);
}

:root {
  --Neutral900: hsl(227, 75%, 14%);
  --Neutral800: hsl(226, 25%, 17%);
  --Neutral700: hsl(225, 23%, 24%);
  --Neutral600: hsl(226, 11%, 37%);
  --Neutral300: hsl(0, 0%, 78%);
  --Neutral200: hsl(217, 61%, 90%);
  --Neutral100: hsl(0, 0%, 93%);
  --Neutral0: hsl(200, 60%, 99%);

  --fs-reg: 1.25rem;

  --fs-md: 2.25rem;
  --fs-lg: 3rem;
  --fs-xl: 4rem;

  --Red400: hsl(3, 86%, 64%);
  --Red500: hsl(3, 71%, 56%);
  --Red700: hsl(3, 77%, 44%);
}

html {
  height: 100%;
  font-family: "Noto Sans";
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

body {
  background-image: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-inline-size: 1200px;
  margin-inline: auto;
}

.headerBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--Neutral0);
  border-radius: 20px;
  padding: 10px;
}

.dark {
  background-color: var(--Neutral800);
}

.light {
  background-color: var(--Neutral0);
  box-shadow: 3px 3px 3px 3px var(--Neutral300);
}

.theme-icon-light {
  justify-self: end;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--Neutral100);
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
}

.theme-icon-light:hover {
  background-color: var(--Neutral300);
}

.theme-icon-dark {
  justify-self: end;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--Neutral700);
}

.theme-icon-dark:hover {
  border-color: var(--Red400);
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
  > h1 {
    margin: inherit;
  }
}

.title-heading-dark {
  color: var(--Neutral100);
}

.button-list {
  display: flex;
  justify-self: end;
  align-items: center;
  > button {
    font-family: "Noto Sans";
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
  }
}

.button-list-light {
  > button {
    background-color: var(--Neutral0);
    color: var(--Neutral600);
    border: 1px solid #ccc;
  }

  > button:hover {
    color: white;
    background-color: var(--Red700);
    transition: 40ms;
  }
}

.button-list-dark {
  > button {
    background-color: var(--Neutral700);
    color: var(--Neutral100);
  }

  > button:hover {
    color: var(--Neutral800);
    background-color: var(--Red700);
    transition: 40ms;
  }
}

.attribution {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  bottom: 0;
}

.attribution-dark {
  color: var(--Neutral100);
}

.cardgrid {
  display: grid;
  gap: 10px;
  margin-inline: auto;

  @media (width > 960px) {
    grid-template-areas:
      "one two"
      "three three";
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 188px;
  }

  place-items: start;
}

.card-light {
  background-color: var(--Neutral0);
}

.card {
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three";

  @media (width > 960px) {
    grid-template-areas:
      "one two"
      "three three";
  }

  justify-content: space-between;
  border-radius: 25px;
  padding: 15px;
}

.card-dark {
  background-color: var(--Neutral800);
}

.card-icon img {
  border-radius: 8px;
  grid-area: one;
}

.cardContentlight {
  text-wrap-style: pretty;
  flex: 1;
  margin-left: 10px;
  align-items: flex-start;
  grid-area: two;
  padding-bottom: 24px;
  > h3 {
    margin-top: 0px;
    color: var(--Neutral800);
  }
  > p {
    max-height: 44px;
  }
}

.cardContentdark {
  flex: 1;
  margin-left: 10px;
  align-items: flex-start;
  grid-area: two;
  padding-bottom: 24px;
  > p {
    max-height: 44px;
    color: var(--Neutral200);
  }
  > h3 {
    margin-top: 0px;
    color: var(--Neutral100);
  }
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: three;
}

.cardRemoveButton {
  background-color: var(--Neutral0);
  font-family: "Noto Sans";
  font-weight: 700;
  color: var(--Neutral600);
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  grid-area: one;
}

.cardRemoveButton:hover {
  color: white;
  background-color: var(--Red700);
  transition: 40ms;
}

.card-remove-btn-dark {
  background-color: var(--Neutral700);
  color: var(--Neutral100);
}

.card-toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;

  input > {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d9534f;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
